<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title th:text="#{SearchPage}"></title>
        </head>
    
        <br>
        <br>
            <h1><center><th th:text="#{SearchPage}"></th></center><b></b></h1>
            <center>
        <table class="w3-table-all" border="1" cellspacing="1">
            <thead>
                <tr>
                    <th th:text="#{Country}"></th>
                    <th th:text="#{ISOCode}"></th>
                    <th th:text="#{VaccinationDate}"></th>
                    <th th:text="#{TotalVaccinations}"></th>
                    <th th:text="#{PeopleVaccinated}"></th>              
                </tr>
            </thead>
            <tbody>
          
          
        <tr th:each="aVaccine: ${VacList}">  
                <td th:text="${aVaccine.country}"/>
                <td th:text="${aVaccine.iso_code}"/>
                <td th:text="${aVaccine.v_date}"/>             
                <td th:text="${aVaccine.total_vaccinations}"/>           
                <td th:text="${aVaccine.people_vaccinated}"/> 
                <td><a th:text="#{ViewRecord}" th:href="@{'/DrillDown/' + ${aVaccine.id}}"></a></td>
        </tr>   
        </tbody>     
     </table>
            </center>
    </body>
</html>
